<%= @hospital.name %>
<%= @doctor.name %>
<%= @doctor.specialty %>
<%= @doctor.university %>

<section id=patients>
  <% @patients.each do |patient| %>
    <section id=patient-<%= patient.id %>>
      <%= patient.name %>
      <%= button_to 'remove patient', doctor_patient_path(patient.find_doctor_patient(@doctor.id)), method: :delete %>
    </section>
  <% end %>
</section>
